/* Reset */
*,*::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}


:root{
    --primary-color: #a248d5;
    --secondary-color: #3f14b3;
    --tertiary-color: white;
}
.container{
    margin: 0 auto;
    min-height: 100vh;
}
header{
    width: 100%;
    padding: 2rem 2rem;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    z-index: 9000;
}


.logo{
    display: flex;
    align-items: end;
    cursor: pointer;
}
.logo p{
    font-size: 20px;
    font-weight: 700;
    font-family: "Playwrite NG Modern", cursive;
    color: var(--primary-color);
}
.menu{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.menu .mobile-menu i{
    display: none;
    color: var(--tertiary-color);
    font-size: 30px;
}
/* Side menu styles */
.side-menu-container{
    position: absolute;
    top: 7rem;
    right: 10000px;
    background: var(--tertiary-color);
    width: 300px;
    height: 500px;
    flex-direction: column;
    padding: 1.5rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: all 0.5s;
    z-index: 1;
}
.side-menu-container.active{
    right: 0;
}

.side-menu-container h2{
    color: var(--secondary-color);
}
.about-side-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-side-head i{
    font-size: 30px;
    color: var(--secondary-color);
}
.about-side p{
    font-size: 16px;
    
}
.single-contact{
    display: flex;
    gap: 1rem;
}
.contact-side h6{
    margin-top: 1rem;
    color: var(--secondary-color);
    font-size: 18px;
}
.follow-us h6{
    margin-top: 1rem;
    color: var(--secondary-color);
    font-size: 18px;
}
.social-media{
    margin-top: 1rem;
    display: flex; 
    gap: 2rem;
}
.social-media a i:hover{
    transform: scale(1.3);
    color: var(--secondary-color);
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
nav ul li a{
    color: white;
    font:bold;
}
main{
    margin-top: 6rem;
    display: flex;
    height: 80vh;
    flex-direction: column; 
    align-items: center;
}

.main-content-wrapper{
    background: linear-gradient(to bottom, rgb(241, 233, 242), var(--primary-color));
    padding: 2rem 2rem 0;
    border-bottom-left-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper-border{
    padding: 0rem 2rem;
    border-bottom-left-radius: 40px;
    display: flex;
    justify-content: space-between;
    border-left: 4px solid var(--secondary-color);
}
main .profile-description{
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    gap: .6rem;
    width: 50%;
}
main .profile-description ul{
    font-size: 18px;
    font-weight: 700;
    display: flex;
    gap: .8rem;

}
main .profile-description ul li{
    border-right: 4px solid var(--secondary-color);
    padding-right: 1rem;
    color: var(--secondary-color);
}

.profile_img{
    border-top: 1px solid var(--secondary-color);
    border-bottom: 4px solid var(--secondary-color);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
}
main .profile-description h1{
    font-size: 40px;
    font-weight: 700;
    
}
main .profile-description h1 span{
    color: var(--secondary-color);
}
main .profile-description p{
    margin-top: 2rem;
    font-size: 18px;
    width: 85%;
}

main .profile-description button{
    background: var(--primary-color);
    color: var(--secondary-color);
    width: 150px;
    border: none;
    border-radius: 50px;
    padding:.7rem 2rem;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin: 3rem;
}
main .profile-description button:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
}

.goal{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goal h2{
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 1rem 3rem;
    /* border-radius: 50px; */
    margin-bottom: 1rem;
    border-bottom-left-radius: 50px;
}
.goal-subheader{
    background: var(--primary-color);
    font-size: 20px;
    padding: 0 60px;
    border-radius: 50px;
    margin-bottom: 3rem;
    color: white;
}
.goal-one{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    gap: 1rem;
    margin-bottom: 2rem;
    
}
.goal-two{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    gap: 1rem;
    
}
.cards{
    width: 412px;
    height: 400px;
    border: 1px solid #f8f5f5;
    border-radius: 10px;box-shadow: 2px 5px 2px var(--primary-color);
    padding: 1.2rem;
    transition: width 2s, height 2s, transform 2s;
}
.cards:hover{
    width: 412px;
    height: 400px;
    transform: rotate(2deg);
}
.card-heading{
    text-align: center;
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: 600;
    display: flex;
    gap: 2rem;
    margin-bottom: .6rem;
}
.card-heading i{
    font-size: 30px;
    color: #a248d5;
}
.cards ul{
    height: 300px;
    font-size: 14px;
    padding: 1rem;
    border:1px solid #3f14b3;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.cards ul p{
    font-weight: 600;
    margin: .2rem 0;
    color: #3f14b3;
}

/* Contact */
.contact{
    margin-top: 5rem;
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.contact h2{
    color: var(--secondary-color);
}
.contact form{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
form input{
    width: 100%;
    height: 40px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    outline: none;
    padding: 0 0.5rem;
}

form input::placeholder{
    padding-left: .5rem;
    color: #a248d5;
}

form textarea{
    width: 100%;
    height: 100px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    outline: none;
    padding: 1rem;
}

form textarea::placeholder{
    color: #a248d5;
  
}
form button{
    width: 100%;
    height: 40px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    outline: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}


footer{
    width: 100%;
    min-height: 30vh;
    margin-top: 4rem;
    border-top: 1px solid #ccc;
    box-shadow: 2px 2px 20px var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    text-align: center;
    padding: 1rem 0;
}
footer .links{
    display: flex;
    gap: 2rem;
    align-items: center;
}

footer .links a{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
    padding-right: 1rem;
    border-right: 1px solid var(--secondary-color);
}

footer .links a:hover{
    color: var(--primary-color);
}

footer .links a:last-child{
    padding-right: 0;
    border: none;
}

footer #current-time-date{
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 500;
    color: var(--secondary-color);
}

footer ul {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}
footer ul li a{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
}



/* ANIMATION */

.typed-cursor--blink {
    animation: blink 0.7s infinite;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}






 /* Mobile at 600max */
@media (max-width: 600px) {

    .menu .mobile-menu i{
        display: block;
        margin-right: 2rem;
    }
    .menu .side-menu{
        position: absolute;
        top: 2rem;
        right: 1rem;
    }
    nav{
        background-color:var(--secondary-color);
        position: absolute;
        top: 6.3rem;
        left: -100rem;
        width: 100%;
        height: 35vh;
        transition: all 0.6s ease-in-out;

    }
    .active-menu{
        left: 0;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
    }
   .side-menu-container{
    top: 7rem;
   }
    .wrapper-border{
        padding: 0rem 1rem;
        border-bottom-left-radius: 40px;
        display: flex;
        flex-direction: column;
        border-left: 4px solid var(--secondary-color);
    }
    .main-content-wrapper{
        padding: 2rem 1rem 0;
    }
    main .profile-description{
        width: 100%;
    }
    main .profile-description ul{
        font-size: 13px;
        font-weight: 800;
    
    }
  
    
    .profile_img{
        border-top: 1px solid var(--secondary-color);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        
    }
    main .profile-description h1{
        font-size: 35px;
        font-weight: 700;
        
    }
    
    main .profile-description p{
        margin-top: 1rem;
        font-size: 14px;
        width: 95%;
    }

    /* Goals */
    
.goal{
    margin-top: 2rem;
   
}


.goal-one{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(100%, 15em)) ;
    gap: 3rem;
    margin-bottom: 2rem;
    
}
.goal-two{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(100%, 15em)) ;
    gap: 3rem;
    margin-bottom: 2rem;
    
}
/* footer */
footer .links{
    gap: 1rem;
}
    
}

/* Tablet at 601 min - 7 */

@media (min-width: 601px) and (max-width:768px) {
    .menu .mobile-menu i{
        display: block;
        margin-right: 2rem;
    }
    .menu .side-menu{
        position: absolute;
        top: 2rem;
        right: 0rem;
    }
    nav{
        background-color:var(--secondary-color);
        position: absolute;
        top: 6.3rem;
        left: -100rem;
        width: 100%;
        height: 35vh;
        transition: all 0.6s ease-in-out;

    }
    .active-menu{
        left: 0;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
    }
   .side-menu-container{
    top: 7rem;
   }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
    }
   
    .wrapper-border{
        padding: 0rem 1rem;
        border-bottom-left-radius: 40px;
        display: flex;
        flex-direction: column;
        border-left: 4px solid var(--secondary-color);
    }
    .main-content-wrapper{
        padding: 2rem 2rem 0;
    }
    main .profile-description{
        width: 100%;
    }
    main .profile-description ul{
        font-size: 13px;
        font-weight: 800;
    
    }
  
    
    .profile_img{
        border-top: 1px solid var(--secondary-color);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        
    }
    main .profile-description h1{
        font-size: 35px;
        font-weight: 700;
        
    }
    
    main .profile-description p{
        margin-top: 1rem;
        font-size: 14px;
        width: 100%;
    }

    /* Goals */
    
.goal{
    margin-top: 4rem;
   
}


.goal-one{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(100%, 15em)) ;
    gap: 1rem;
    margin-bottom: 2rem;
    
}
.goal-two{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(100%, 15em)) ;
    gap: 1rem;
    margin-bottom: 2rem;
    
}
/* footer */
footer .links{
    gap: 1rem;
}
    
}
/* Mini Computers */
@media (min-width: 769px) and (max-width:1200px) {
   
  
    .wrapper-border{
        border-bottom-left-radius: 40px;
        display: flex;
        gap: 2rem;
        border-left: 4px solid var(--secondary-color);
    }
    .main-content-wrapper{
        padding: 1rem 2rem 0;
    }
    main .profile-description{
        width: 50%;
    }
    main .profile-description ul{
        font-size: 13px;
        font-weight: 700;
    
    }
  
    
    .profile_img{
        border-top: 1px solid var(--secondary-color);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        
    }
    main .profile-description h1{
        font-size: 30px;
        font-weight: 700;
        
    }
    
    main .profile-description p{
        margin-top: 1rem;
        font-size: 14px;
        width: 100%;
    }

    /* Goals */
    
.goal{
    margin-top: 4rem;
   
}


.goal-one{
    display: grid;
    margin-left: 3rem;
    place-content: center;
    grid-template-columns:repeat(2, 1fr) ;
    gap: 2rem;
    margin-bottom: 2rem;
    
}
.goal-two{
    display: grid;
    margin-left: 3rem;
    grid-template-columns:repeat(2, 1fr) ;
    gap: 2rem;
    margin-bottom: 2rem;
    
}
/* footer */
footer .links{
    gap: 1rem;
}
    
}